---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title="Hack Club Pune"  description="Hack Club @ Pune"/>
</head>
<body>
	<Navbar/>
	
</body>
</html>
