---
import HamburgerMenu from '@astropub/icons/HamburgerMenu'
---
<header>
    <nav>
        <div class="hamburger">
            <HamburgerMenu fill="white" size="30"/>
        </div>
        <div class="HCP">

        </div>
        <div class="Contact">

        </div>
    </nav>
</header>

<style>
    
</style>